<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ORGANIZATION_NAME}}</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='/images/logos/favicon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.min.css') }}" />
</head>

<body>
 
  {% block content %}{% endblock %}
 
 
<script src="{{ url_for('static', filename='/libs/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>